*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: myFont;
    src: url(./fonts/LEMONMILK-Regular.otf);
}

body{
    background-color: #F5F1DC;
    display: block;
}

input{
    height: 40px;
    width: 400px;
    border: none;
    background-color: #F5F1DC;  
    padding-left: 20px;
    font-size: large;
}
button{
    height: 40px;
    width: 80px;
    background-color: #F5F1DC;
    border: none;
    font-size: large;
}

header{
    height: 80px;
    background-color: #DC143C;
    display: flex;
    align-items: center;
}

.logo{
    height: 60px;
    width: 300px;
    display: flex;
    font-size: large;
    margin-left: 50px;
    color: #F5F1DC;
    font-family: myFont;
    font-size: medium;
    align-items: center;
}

#SearchBar{
    height: 40px;
    width: 550px;
    background-color: #FDEBD0;
    display: flex;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 40px;
    padding: 5px;
    margin-left: 150px;
}

#functionality{
    height: 40px;
    width: 300px;
    display: flex;
    margin-left: 150px;
    align-items: center;
    gap: 30px;
}

nav{
    height: 30px;
    background-color: #F7CAC9;
}

#menu{
    display: flex;
    align-items: center;
}
.menuItems{
    margin-left: 30px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
#content{
    height: 500px;
}
footer{
    height: 500px;
    background-color: #F75270;
    background-color: #DC143C;
}

#faqSection{
    height: 300px;
    display: flex;
    justify-content: center;
}

.faq{
    color: #FFFFFF;
    padding-top: 20px;
    border: 1px dotted #F5F1DC;
    border-collapse: collapse;
    padding-left: 40px;
}

.faq h2{
    color: #F5F1DC;
    align-items: center;
    padding-left: 40px;
    padding-right: 80px;
}
