<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-regular fa-truck fa-2xl" style="color: #F5F1DC;"></i>
            <h1>FlipZone</h1>
        </div>


        <div id="SearchBar">
            <i class="fa-solid fa-magnifying-glass fa-2xl" style="padding-left: 10px;"></i>
            <input type="text" placeholder="Search for Products, Brands and More">
            <button>Search</button>
        </div>
        <div id="functionality">
            <div>
                <!-- login -->
                 <i class="fa-regular fa-user fa-2xl"></i>

            </div>
            <div>
                <!-- cart -->
                 <i class="fa-solid fa-cart-shopping fa-2xl"></i>
            </div>
            <div>
                <!-- become a seller -->
                 <i class="fa-solid fa-store fa-2xl"></i>
            </div>
            <div>
                <!-- more -->
                 <i class="fa-regular fa-house fa-2xl"></i>
            </div>
        </div>
    </header>
    <nav id="menu">
        <i class="fa-solid fa-bars" style="color: #000000; margin-left: 20px;"></i>
        <a class="menuItems" href="#">ALL</a>
        <a class="menuItems" href="#">Today's Deals</a>
        <a class="menuItems" href="#">Trending</a>
        <a class="menuItems" href="#">New Releases</a>
        <a class="menuItems" href="#">BestSeller</a>
        <a class="menuItems" href="#">Mobiles</a>
        <a class="menuItems" href="#">Computer & Acessories</a>
        <a class="menuItems" href="#">Electronics</a>
        <a class="menuItems" href="#">Fashion</a>
        <a class="menuItems" href="#">Home & Kitchen</a>
    </nav>
    <div id="content">

    </div>
    <footer>
        <div style="background-color: #F7CAC9; height: 20px;">
            <a href="#" style="color: #000000;text-decoration: none;">Back to top</a>
        </div>
        <div id="faqSection" style="background-color: #F75270;">
            <div class="faq">
                <h2>Get To Know Us</h2>
                <br>
                <br>
                <p>About FlipZone</p>
                <br>
                <p>Career</p>
                <br>
                <p>Press Releases</p>
            </div>
            <div class="faq">
                <h2>Connect With Us</h2>
                <br>
                <br>
                <p>Facebook</p>
                <br>
                <p>Twitter</p>
                <br>
                <p>Instagram</p>
            </div>
            <div class="faq">
                <h2>Make Money With Us</h2>
                <br>
                <p>Sell on FlipZone</p>
                <br>
                <p>Protect and Brand on FlipZone</p>
                <br>
                <p>Supply to FlipZone</p>
                <br>
                <p>Become a Affilate</p>
                <br>
                <p>Fulfilment by FlipZone</p>
                <br>
                <p>Advertise your Products</p>
            </div>
            <div class="faq">
                <h2>Let Us Help You</h2>
                <br>
                <br>
                <p>Your Account</p>
                <br>
                <p>Return Centre</p>
                <br>
                <p>Recalls and Product Safety Alerts</p>
                <br>
                <p>100% Purchase Protection</p>
                <br>
                <p>Help</p>
            </div>
        </div>
        <hr>
        <div>
        <div style="height: 100px;background-color: #F75270;">
            <div class="logo">
            <i class="fa-regular fa-truck fa-2xl" style="color: #F5F1DC;"></i>
            <h1>FlipZone</h1>
        </div>

        </div>
        <div ></div>
    </footer>
</body>
</html>
